<html>
  <head>
    <meta charset="utf-8" />
    <title>
      {{title}}
    </title>
    <link rel="stylesheet" href="./CSS/style.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

  </head>

  <body>
    {{>navbar}}
    {{{body}}}
    <script src="JS/custom.js"></script>

  </body>
</html>