<!-- <div class="navbar_section">
        <div class="nav-logo">
            <img src="./Images/Navbar/new_logo_dark 1.svg" alt="">
        </div>
        <nav class="nav-items">
            <ul>
                <li class="nav-link"><a href="/">Home</a></li>
                <li class="nav-link"><a href="/about">About</a></li>
                <li class="nav-link"><a href="/services">Services</a></li>
                <li class="nav-link"><a href="/contact">Contact</a></li>
                <li class="nav-link"><a href="/blog">Blog</a></li>
            </ul>
            // <div class="hamburger">
              //  <span class="bar"></span>
                //<span class="bar"></span>
                //<span class="bar"></span>
            </div>//
        </nav>
        <div class="button">
            <div class="search-icon">
                <img src="./Images/Navbar/ic_baseline-search.svg" alt="">
            </div>
            <div class="login-button">
                <button>Log in</button>
            </div>
        </div>
    </div> -->
<section class="Home_section1 home_background">
  <div class="container">
    <div class="content">
      <div class="section1_title">
        <h1>Provide your services on <span> Duhuze</span></h1>
      </div>
      <div class="section1_para">
        <p>Duhuze is your growth partner. We connect you to
          <br />
          customers and provide you with technical assistance<br />
          you need to expand your business.</p>
      </div>
    </div>
    <div class="section1_socials">
      <div class="socials-col-2">
        <img src="./Images/HomeSection1/Group.svg" alt="" />
      </div>
      <div class="socials-col-2">
        <img src="./Images/HomeSection1/AppStore.svg" alt="" />
      </div>
    </div>
    <div class="home_section_image">
      <img
        src="./Images/HomeSection1/Item (1).svg"
        alt=""
        class="mobile_responsive_image1"
      />
      <img
        src="./Images/HomeSection1/Item.svg"
        alt=""
        class="mobile_responsive_image2"
      />
      <img
        src="./Images/HomeSection1/Item (2).svg"
        alt=""
        class="mobile_responsive_image3"
      />
    </div>
  </div>
</section>
<section class="Home_section2">
  <div class="container">
    <div class="content">
      <div class="section2_title">
        <h1>We Always Create the Best Quality Products for Customers</h1>
      </div>
      <div class="section2_para">
        <p>We've done it carefully and simply. Combined with the ingredients
          makes for beautiful landings. It is definitely the tool you need to
          speed up your design process.</p>
      </div>
    </div>

    <div class="video">
      <div class="image">
        <img src="./Images/HomeSection2/Image.svg" alt="" class="video_img" />
      </div>
      <div class="icon">
        <img src="./Images/HomeSection2/Icon.svg" alt="" />
      </div>
    </div>
  </div>
</section>
<section class="fatures_section">
  <div class="row">
    <div class="items">
      <div class="img">
        <img src="./Images/featuresection/Icon.svg" alt="" />
      </div>
      <div class="content">
        <h1>Team Accounts</h1>
        <p>A high quality solution beautifully<br />
          designed for startups</p>
      </div>
    </div>
    <div class="items">
      <div class="img">
        <img src="./Images/featuresection/Icon.svg" alt="" />
      </div>
      <div class="content">
        <h1>Team Accounts</h1>
        <p>A high quality solution beautifully<br />
          designed for startups</p>
      </div>
    </div>
    <div class="items">
      <div class="img">
        <img src="./Images/featuresection/Icon.svg" alt="" />
      </div>
      <div class="content">
        <h1>Team Accounts</h1>
        <p>A high quality solution beautifully<br />
          designed for startups</p>
      </div>
    </div>
    <div class="items">
      <div class="img">
        <img src="./Images/featuresection/Icon.svg" alt="" />
      </div>
      <div class="content">
        <h1>Team Accounts</h1>
        <p>A high quality solution beautifully<br />
          designed for startups</p>
      </div>
    </div>
  </div>
</section>
<footer class="footer-section">
  <div class="upper-footer">
    <div class="col-5">
      <img
        src="Images/Footer/new_logo_dark 2 (1).svg"
        class="footer-logo"
        alt=""
      />
      <p>Our Experts are available 24/7 :</p>
      <div class="contact-details">
        <img src="./Images/Footer/phone.svg" class="" />
        <span>+250785119320</span>
      </div>
      <div class="contact-details">
        <img src="./Images/Footer/mail-2569.svg" class="" alt="" width="20px" />
        <span>info@duhuze.com</span>
      </div>
    </div>
    <div class="col-5">
      <h1>About us</h1>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/howwework ">How we work </a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/helpguide">Help Guide</a></li>
      </ul>
    </div>
    <div class="col-5">
      <h1>Resources</h1>
      <ul>
        <li><a href="/download">Download</a></li>
        <li><a href="/helpcenter">Help Center</a></li>
        <li><a href="/guides ">Guides</a></li>
        <li><a href="/partnernetwork">Partner Network</a></li>
        <li><a href="/developers">Developers</a></li>
      </ul>
    </div>
    <div class="col-5">
      <h1>Newsletter</h1>
      <div class="subscribe">
        <input
          type="email"
          name="email"
          class="email"
          id="email"
          placeholder="Email address"
        />
        <img src="./Images/Footer/send.svg" alt="" />
      </div>
      <div class="Socials">
        <a href="">
          <img src="./Images/Footer/Twitter.svg" alt="" />
        </a>
        <a href="">

          <img src="./Images/Footer/Youtube.svg" alt="" />
        </a>
        <a href="">
          <img src="./Images/Footer/linkedin.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="row">
      <div class="title">
        <p>All right reserved @ Duhuze 2022</p>
      </div>
      <div class="footer-items">
        <ul>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/termsandconditions">Terms and Conditions</a></li>
        </ul>
      </div>
      <div class="message-icon">
        <img src="./Images/Footer/bxs_message.svg" alt="" />
      </div>
    </div>
  </div>
</footer>