<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./CSS/style.css" />
    <link rel="stylesheet" href="./fonts/style.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>Service</title>
  </head>

  <body>
    <section>
      <div class="service_section">
        <div class="container">
          <div class="left_side">
            <div class="service_content">
              <div class="service_title">
                <h1>Over 23 Field Services Provided
                  <span>on Duhuze</span>
                </h1>
              </div>
              <div class="service_para">
                <p>We've done it carefully and simply. Combined with the
                  ingredients makes for beautiful landings. It is definitely the
                  tool you need to speed up your design process.</p>
              </div>
            </div>
            <div class="service_downlaod_icon">
              <img src="./Images/GooglePlay.svg" alt="" />
              <img src="./Images/AppStore.svg" alt="" />
            </div>
          </div>
          <div class="right_side">
          </div>
        </div>
      </div>
      <div class="service">
        <div class="container">
          <div class="row">
            <div class="col_4">
              <img src="./Images/Asset 4@4x 1.svg" alt="" />
              <h1>Plumbing<br />
                service</h1>
              <p>While you are doing something important, we will put things in
                order in the apartment , Private house or office.</p>
              <button>Learn More</button>
            </div>
            <div class="col_4">
              <img src="./Images/Asset 4@4x 1.svg" alt="" />
              <h1>Plumbing<br />
                service</h1>
              <p>While you are doing something important, we will put things in
                order in the apartment , Private house or office.</p>
              <button>Learn More</button>
            </div>
            <div class="col_4">
              <img src="./Images/Asset 4@4x 1.svg" alt="" />
              <h1>Plumbing<br />
                service</h1>
              <p>While you are doing something important, we will put things in
                order in the apartment , Private house or office.</p>
              <button>Learn More</button>
            </div>
            <div class="col_4">
              <img src="./Images/Asset 4@4x 1.svg" alt="" />
              <h1>Plumbing<br />
                service</h1>
              <p>While you are doing something important, we will put things in
                order in the apartment , Private house or office.</p>
              <button>Learn More</button>
            </div>
          </div>
          <div class="row">
            <div class="col_4">
              <img src="./Images/Asset 4@4x 1.svg" alt="" />
              <h1>Plumbing<br />
                service</h1>
              <p>While you are doing something important, we will put things in
                order in the apartment , Private house or office.</p>
              <button>Learn More</button>
            </div>
            <div class="col_4">
              <img src="./Images/Asset 4@4x 1.svg" alt="" />
              <h1>Plumbing<br />
                service</h1>
              <p>While you are doing something important, we will put things in
                order in the apartment , Private house or office.</p>
              <button>Learn More</button>
            </div>
            <div class="col_4">
              <img src="./Images/Asset 4@4x 1.svg" alt="" />
              <h1>Plumbing<br />
                service</h1>
              <p>While you are doing something important, we will put things in
                order in the apartment , Private house or office.</p>
              <button>Learn More</button>
            </div>
            <div class="col_4">
              <img src="./Images/Asset 4@4x 1.svg" alt="" />
              <h1>Plumbing<br />
                service</h1>
              <p>While you are doing something important, we will put things in
                order in the apartment , Private house or office.</p>
              <button>Learn More</button>
            </div>
          </div>
        </div>
      </div>
      <div class="provider">
        <div class="container">
          <div class="upper_provider">
            <h1>Our Top Rated Providers</h1>
            <button>Explore More</button>
          </div>
          <div class="bottom_provider">
            <div class="row">
              <div class="col_4">
                <div class="content">
                  <div class="left">
                    <img src="./Images/AddImage.svg" alt="" />
                    <img src="./Images/Default.svg" alt="" width="10px" />
                    <h1>Severin R.</h1>
                    <p>Developer</p>
                  </div>
                  <div class="right">
                    <div class="text">
                      <h1>4.9</h1>
                      <p><a href="#">155 Reviews</a></p>
                      <span>30/h</span>
                    </div>
                    <div class="star">
                      <img src="./Images/Star 12.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="latest_news">
                  <h1>LATEST REVIEW</h1>
                  <p>
                    “Lorem ipsum Lorem ipsumLorem Lorem ipsum Lorem ipsumLorem”</p>
                  <span>Kelly . I</span>
                </div>
                <button>Request Quote</button>
              </div>
              <div class="col_4">
                <div class="content">
                  <div class="left">
                    <img src="./Images/AddImage.svg" alt="" />
                    <img src="./Images/Default.svg" alt="" width="10px" />
                    <h1>Severin R.</h1>
                    <p>Developer</p>
                  </div>
                  <div class="right">
                    <div class="text">
                      <h1>4.9</h1>
                      <p><a href="#">155 Reviews</a></p>
                      <span>30/h</span>
                    </div>
                    <div class="star">
                      <img src="./Images/Star 12.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="latest_news">
                  <h1>LATEST REVIEW</h1>
                  <p>
                    “Lorem ipsum Lorem ipsumLorem Lorem ipsum Lorem ipsumLorem”</p>
                  <span>Kelly . I</span>
                </div>
                <button>Request Quote</button>
              </div>
              <div class="col_4">
                <div class="content">
                  <div class="left">
                    <img src="./Images/AddImage.svg" alt="" />
                    <img src="./Images/Default.svg" alt="" width="10px" />
                    <h1>Severin R.</h1>
                    <p>Developer</p>
                  </div>
                  <div class="right">
                    <div class="text">
                      <h1>4.9</h1>
                      <p><a href="#">155 Reviews</a></p>
                      <span>30/h</span>
                    </div>
                    <div class="star">
                      <img src="./Images/Star 12.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="latest_news">
                  <h1>LATEST REVIEW</h1>
                  <p>
                    “Lorem ipsum Lorem ipsumLorem Lorem ipsum Lorem ipsumLorem”</p>
                  <span>Kelly . I</span>
                </div>
                <button>Request Quote</button>
              </div>
              <div class="col_4">
                <div class="content">
                  <div class="left">
                    <img src="./Images/AddImage.svg" alt="" />
                    <img src="./Images/Default.svg" alt="" width="10px" />
                    <h1>Severin R.</h1>
                    <p>Developer</p>
                  </div>
                  <div class="right">
                    <div class="text">
                      <h1>4.9</h1>
                      <p><a href="#">155 Reviews</a></p>
                      <span>30/h</span>
                    </div>
                    <div class="star">
                      <img src="./Images/Star 12.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="latest_news">
                  <h1>LATEST REVIEW</h1>
                  <p>
                    “Lorem ipsum Lorem ipsumLorem Lorem ipsum Lorem ipsumLorem”</p>
                  <span>Kelly . I</span>
                </div>
                <button>Request Quote</button>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="blog_section">
        <div class="blog_heading">
          <h1>BLOG</h1>
        </div>
        <div class="upper_blog_section">
          <div class="left">
            <h1>Interesting and Useful</h1>
          </div>
          <div class="right">
            <img src="./Images/left 1.svg" alt="" />
            <img src="./Images/arrow 1.svg" alt="" />
            <img src="./Images/Ellipse 37.svg" alt="" />
          </div>
        </div>
        <div class="bottom_blog_section">
          <div class="row">
            <div class="col_3">
              <div class="blog_image">
                <img src="./Images/Rectangle 47 (1).svg" alt="" />
              </div>
              <div class="content">
                <div class="left">
                  <h1>How to get a specialized Person On duhuze ?</h1>
                  <p>By Kelly</p>
                </div>
                <div class="right">
                  <img src="./Images/Vector.svg" alt="" />
                  <img src="./Images/Ellipse 15.svg" alt="" />
                </div>
              </div>
            </div>
            <div class="col_3">
              <div class="blog_image">
                <img src="./Images/Rectangle 47 (1).svg" alt="" />
              </div>
              <div class="content">
                <div class="left">
                  <h1>How to get a specialized Person On duhuze ?</h1>
                  <p>By Kelly</p>
                </div>
                <div class="right">
                  <img src="./Images/Vector.svg" alt="" />
                  <img src="./Images/Ellipse 15.svg" alt="" />
                </div>
              </div>
            </div>
            <div class="col_3">
              <div class="blog_image">
                <img src="./Images/Rectangle 47 (1).svg" alt="" />
              </div>
              <div class="content">
                <div class="left">
                  <h1>How to get a specialized Person On duhuze ?</h1>
                  <p>By Kelly</p>
                </div>
                <div class="right">
                  <img src="./Images/Vector.svg" alt="" />
                  <img src="./Images/Ellipse 15.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="app_dowload">
        <div class="left">
          <div class="content">
            <div class="title">
              <h1>Download Duhuze and Hire Top rated Service Provider with us !</h1>
            </div>
            <div class="downlaod_icon">
              <img src="./Images/GooglePlay.svg" alt="" />
              <img src="./Images/AppStore.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="right">
          <img src="./Images/login 1.svg" alt="" />
          <img src="./Images/Vector 3.svg" alt="" />
        </div>
      </div>
    </section>
  </body>

</html>