<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./CSS/style.css">
</head>

<body>
    <section>

        <div class="client_section">
            <div class="client_heading">
                <h1>REVIEWS</h1>
            </div>
            <div class="upper_client_section">
                <div class="left">
                    <h1> The Best Clients
                        are ours !</h1>
                </div>
                <div class="right">
                    <img src="./Images/left 1.svg" alt="">
                    <img src="./Images/arrow 1.svg" alt="">
                    <img src="./Images/Ellipse 37.svg" alt="">
                </div>
            </div>
            <div class="bottom_client_section">
                <div class="row">
                    <div class="col_3">
                        <div class="content">
                            <div class="box_container">
                                <div class="row">
                                    <div class="left">
                                        <h1>Robert Ngabo</h1>
                                    </div>
                                    <div class="Star">
                                        <img src="./Images/Star 12.svg" alt="">
                                        <img src="./Images/Star 12.svg" alt="">
                                        <img src="./Images/Star 12.svg" alt="">
                                        <img src="./Images/Star 12.svg" alt="">
                                        <img src="./Images/Star 16.svg" alt="">
                                    </div>
                                </div>
                                <div class="para">
                                    <p>While you are doing something important, we will put things in order in the
                                        apartment Private house or office. </p>
                                </div>
                            </div>
                        </div>
                        <div class="profile_icon">
                            <img src="./Images/Ellipse 15.svg" alt="">
                        </div>
                    </div>
                    <div class="col_3">
                        <div class="content">
                            <div class="box_container">
                                <div class="row">
                                    <div class="left">
                                        <h1>Robert Ngabo</h1>
                                    </div>
                                    <div class="Star">
                                        <img src="./Images/Star 12.svg" alt="">
                                        <img src="./Images/Star 12.svg" alt="">
                                        <img src="./Images/Star 12.svg" alt="">
                                        <img src="./Images/Star 12.svg" alt="">
                                        <img src="./Images/Star 16.svg" alt="">
                                    </div>
                                </div>
                                <div class="para">
                                    <p>While you are doing something important, we will put things in order in the
                                        apartment Private house or office. </p>
                                </div>
                            </div>
                        </div>
                        <div class="profile_icon">
                            <img src="./Images/Ellipse 15.svg" alt="">
                        </div>
                    </div>
                    <div class="col_3">
                        <div class="content">
                            <div class="box_container">
                                <div class="row">
                                    <div class="left">
                                        <h1>Robert Ngabo</h1>
                                    </div>
                                    <div class="Star">
                                        <img src="./Images/Star 12.svg" alt="">
                                        <img src="./Images/Star 12.svg" alt="">
                                        <img src="./Images/Star 12.svg" alt="">
                                        <img src="./Images/Star 12.svg" alt="">
                                        <img src="./Images/Star 16.svg" alt="">
                                    </div>
                                </div>
                                <div class="para">
                                    <p>While you are doing something important, we will put things in order in the
                                        apartment Private house or office. </p>
                                </div>
                            </div>
                        </div>
                        <div class="profile_icon">
                            <img src="./Images/Ellipse 15.svg" alt="">
                        </div>
                    </div>
                    <div class="col_3">
                        <div class="content">
                            <div class="box_container">
                                <div class="row">
                                    <div class="left">
                                        <h1>Robert Ngabo</h1>
                                    </div>
                                    <div class="Star">
                                        <img src="./Images/Star 12.svg" alt="">
                                        <img src="./Images/Star 12.svg" alt="">
                                        <img src="./Images/Star 12.svg" alt="">
                                        <img src="./Images/Star 12.svg" alt="">
                                        <img src="./Images/Star 16.svg" alt="">
                                    </div>
                                </div>
                                <div class="para">
                                    <p>While you are doing something important, we will put things in order in the
                                        apartment Private house or office. </p>
                                </div>
                            </div>
                        </div>
                        <div class="profile_icon">
                            <img src="./Images/Ellipse 15.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</body>

</html>