<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./CSS/style.css">
</head>

<body>
    <footer class="footer-section ">
        <div class="upper-footer">
            <div class="col-5">
                <img src="Images/Footer/new_logo_dark 2 (1).svg" class="footer-logo" alt="">
                <p>Our Experts are available 24/7 :</p>
                <div class="contact-details">
                    <img src="./Images/Footer/phone.svg" class="">
                    <span>+250785119320</span>
                </div>
                <div class=" contact-details">
                    <img src="./Images/Footer/mail-2569.svg" class="" alt="" width="20px">
                    <span>info@duhuze.com</span>
                </div>
            </div>
            <div class="col-5">
                <h1>About us</h1>
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/howwework ">How we work </a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/helpguide">Help Guide</a></li>
                </ul>
            </div>
            <div class="col-5">
                <h1>Resources</h1>
                <ul>
                    <li><a href="/download">Download</a></li>
                    <li><a href="/helpcenter">Help Center</a></li>
                    <li><a href="/guides ">Guides</a></li>
                    <li><a href="/partnernetwork">Partner Network</a></li>
                    <li><a href="/developers">Developers</a></li>
                </ul>
            </div>
            <div class="col-5">
                <h1>Newsletter</h1>
                <div class="subscribe">
                    <input type="email" name="email" class="email" id="email" placeholder="Email address">
                    <img src="./Images/Footer/send.svg" alt="">
                </div>
                <div class="Socials">
                    <a href="">
                        <img src="./Images/Footer/Twitter.svg" alt="">
                    </a>
                    <a href="">

                        <img src="./Images/Footer/Youtube.svg" alt="">
                    </a>
                    <a href="">
                        <img src="./Images/Footer/linkedin.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="row">
                <div class="title">
                    <p>All right reserved @ Duhuze 2022</p>
                </div>
                <div class="footer-items">
                    <ul>
                        <li><a href="/privacy">Privacy</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/termsandconditions">Terms and Conditions</a></li>
                    </ul>
                </div>
                <div class="message-icon">
                    <img src="./Images/Footer/bxs_message.svg" alt="">
                </div>
            </div>
        </div>
    </footer>
</body>

</html>