<div class="service_start">
  <div class="left">
    <div class="content">
      <div class="title">
        <h1>Get Professional Services in
          <br />
          <span>
            Rwanda
          </span>
        </h1>
        <img src="./Images/Newfolder/Vector2.svg" alt="" />
        <div class="para">

          <p>While you are doing something important, we will put things in
            order in the apartment Private house or office.
          </p>
        </div>
      </div>
      <div class="downlaod_icon">
        <img src="./Images/GooglePlay.svg" alt="" />
        <img src="./Images/AppStore.svg" alt="" />
      </div>
    </div>
    <div class="image">
      <img src="./Images/Newfolder/Imigongo.svg" alt="" />
    </div>
  </div>
  <div class="right">
    <img src="./Images/Newfolder/Ellipse 33.svg" alt="" />
    <img src="./Images/Newfolder/Group 55.svg" alt="" />
    <img src="./Images/Newfolder/Group 55.svg" alt="" />
    <img src="./Images/Newfolder/Vector1.svg" alt="" />
    <img
      src="./Images/Newfolder/wepik-photo-mode-20221010-234251 1.svg"
      alt=""
    />
  </div>
</div>