<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./CSS/style.css">
</head>

<body>
    <section>

        <div class="step_section">
            <div class="container">
                <div class="title">
                    <div class="upper_title">
                        <h1>WORK STEPS</h1>
                    </div>
                    <div class="lower_title">
                        <h1>How to hire on Duhuze ?</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_section">
            <div class="icon_container">
                <div class="row">
                    <div class="col_4">
                        <div class="icon">
                            <img src="./Images/Vector (1).svg" alt="">
                        </div>
                        <div class="text">
                            <div class="">
                                <h1>Application</h1>
                            </div>
                            <div class="">
                                <p>While you are doing something important, we will put things in order in the
                                    apartment
                                    , Private house or office. While you are.</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="line"></div> -->
                    <div class="col_4">
                        <div class="icon">
                            <img src="./Images/Vector (2).svg" alt="">
                        </div>
                        <div class="text">
                            <h1>Application</h1>
                            <p>While you are doing something important, we will put things in order in the
                                apartment
                                , Private house or office. While you are.</p>
                        </div>
                    </div>
                    <!-- <div class="line"></div> -->
                    <div class="col_4">
                        <div class="icon">
                            <img src="./Images/Vector (3).svg" alt="">
                        </div>
                        <div class="text">
                            <h1>Application</h1>
                            <p>While you are doing something important, we will put things in order in the
                                apartment
                                , Private house or office. While you are.</p>
                        </div>
                    </div>
                    <!-- <div class="line"></div> -->
                    <div class="col_4">
                        <div class="icon">
                            <img src="./Images/Vector (4).svg" alt="">
                        </div>
                        <div class="text">
                            <h1>Application</h1>
                            <p>While you are doing something important, we will put things in order in the
                                apartment
                                , Private house or office. While you are.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>

</html>